<% include partials/header %>
<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">YelpCamp</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Login</a></li>
                <li><a href="/">Sing up</a></li>
                <li><a href="/">Log out</a></li>
            </ul>
        </div>
    </div>
</nav> -->

<div class="container">
    <header class="jumbotron">
        <div class="container">       
            <h1>Welcome to YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
                <a class="btn btn-lg btn-info" href="/campgrounds/new">New camground</a>    
            </p>   
        </div>
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campground.image %>" alt="<%= campground.name %>">
                    <div class="caption">
                        <%= campground.name %>
                    </div>
                    
                    <a href="campgrounds/<%= campground._id%>" type="button" class="btn btn-info">More info!</a>
                              
                </div>
            
                <!-- <%= campground.name %> -->
                
            </div>
        <% }); %>
    </div>
    
    

</div>
<% include partials/footer %>

